{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "arrowParens": "always",
  "printWidth": 100
}