body {
  background-color: #f6f7f9;
}

main {
  min-height: 75vh;
  padding-top: 20px;
}

.table {
  background-color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.budgets-searcher .list-group {
  max-height: 30vh;
  overflow: auto;
}

main.login-view,
main.signup-view {
  margin-top: -40px;
}

.react-datetime-picker__wrapper {
  color: #495057;
  border: 0 !important;
}

.react-datetime-picker--open {
  border: 1px solid #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
